*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: capitalize;
    text-decoration: none;
}

body{
   /*min-height: 200vh;*/
    position: absolute;
    height:100%;
    background:url(images/background1.jpg) no-repeat;
    background-size: cover;
    /*background-position: center;*/
    
    opacity: 0.89;
}

header{
    position:fixed;
    top: 0;
    left: 0;
    right: 0;
    background: white;
    box-shadow: 0 5px 10px rgba(0,0,0,.1);
    padding: 20px 7%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    text-decoration: none;
}

#logo img{
    height: 59px;
    margin: 3px 6px;
}

header .navbar ul{
    list-style: none;
}
header .navbar ul li{
    position: relative;
    float: left;
}

header .navbar ul li a{
    font-size: 20px;
    padding: 20px;
    color: #333;
    display: block;
    text-decoration: none;
}

header .navbar ul li a:hover{
    background: #333;
    color: #fff;
    border-radius: 10px;
}

header .navbar ul li ul {
    position: absolute;
    left: 0;
    width: 200px;
    background: #fff;
    display: none;
}

header .navbar ul li ul li{
    width: 100%;
    border-top: 1px solid rgba(0,0,0,.1)
}

header .navbar ul li:hover > ul{
    display: initial;
}

